*{
    margin: 0px;
    padding: 0px;
}

.custom-nav-container{
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 20px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
}

.custom-container{
    margin: 30px;
    padding: 20px;
}

.custom-card{
    margin-bottom: 10px!important;
}
